[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
Django = ">=2.1,<2.2"
channels = "*"
click = ">=6.7,<6.8"
cryptography = "==2.3"
daphne = ">=2.2,<2.3"
dj-database-url = "*"
google-cloud-storage = ">=1.10.0,<1.11"
hiredis = "*"
jsonschema = ">=2.6.0,<3.0"
marshmallow = ">=2.15.3,<2.16"
msgpack = ">=0.5,<0.6"
petname = "*"
psycopg2-binary = ">=2.7.5,<2.8"
python-rapidjson = "*"
redis = "*"
requests = "*"
rq = ">=0.12,<0.13"
social-auth-app-django = ">=2.1,<2.2"
structlog = "*"
uWSGI = ">=2.0.17,<2.1"
websockets = "*"
youtube_dl = "*"
channels-redis = "*"

[dev-packages]
invoke = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
