[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
Django = ">=2.1,<2.2"
channels = "*"
click = "*"
cryptography = ">=2.4,<2.5"
daphne = ">=2.2,<2.3"
dj-database-url = "*"
google-cloud-storage = ">=1.13,<1.14"
hiredis = "*"
jsonschema = ">=2.6.0,<3.0"
marshmallow = ">=3.0.0b12,<3.1"
msgpack = ">=0.6,<0.7"
petname = "*"
psycopg2-binary = ">=2.7.5,<2.8"
python-rapidjson = "*"
redis = "*"
requests = "*"
rq = ">=0.13,<0.14"
social-auth-app-django = ">=2.1,<2.2"
structlog = "*"
uWSGI = ">=2.0.17,<2.1"
websockets = "*"
youtube_dl = "*"
channels-redis = "*"
raven = "*"

[dev-packages]
invoke = "*"
ipython = "*"
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pipenv = "==2018.11.26"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
